fastapi
uvicorn
panel
bokeh
numpy
pandas
scikit-learn
faiss-cpu
sentence-transformers
langchain
langchain-community
pypdf
python-multipart
huggingface_hub
requests
tqdm
transformers
accelerate
bitsandbytes
matplotlib