fastapi
uvicorn
panel
bokeh
numpy
pandas
scikit-learn
faiss-cpu
langchain
langchain-community
langchain-ollama
pypdf
python-multipart
huggingface_hub
requests
tqdm
accelerate
bitsandbytes
matplotlib
safetensors>=0.4.3
transformers>=4.40
sentence-transformers>=2.7
holoviews
param
pyviz-comms
hvplot
